* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Roboto', sans-serif; }

body {
  background-image: url(../photos/left.png);
  background-position: center;
  background-size: cover; }

nav {
  width: 100%;
  height: 20vh;
  display: grid;
  grid-template-columns: 20% 40% 20% 20%;
  align-items: center;
  text-align: center;
  color: #9f9f9f; }
  nav .burger-menu i {
    font-size: 2rem; }
  nav .logo span {
    letter-spacing: 3px;
    color: #FFF;
    font-size: 0rem;
    text-transform: uppercase; }
  nav .info {
    display: flex;
    justify-content: center; }
    nav .info .info-sign {
      width: 25px;
      height: 25px;
      border: 1px solid #9f9f9f;
      border-radius: 25px;
      font-weight: 700;
      line-height: 25px; }
  nav .language span {
    font-weight: 700; }
  nav .language i {
    font-size: 20px; }

header {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  text-align: center;
  color: #bea67c;
  font-weight: 700; }
  header .slider {
    transform: rotate(90deg);
    letter-spacing: 3px;
    font-size: 0; }
  header .title {
    height: 100%;
    text-align: center;
    align-self: flex-start;
    position: relative;
    display: grid;
    grid-template-rows: 2fr 2fr 0.5fr 0.8fr 1fr;
    justify-content: center;
    align-items: center; }
    header .title h1 {
      letter-spacing: 10px;
      font-size: 2.5rem;
      text-transform: uppercase; }
    header .title .more {
      width: 250px;
      height: 50px;
      border: 2px solid #FFF;
      color: #FFF;
      font-weight: 400;
      font-size: 1rem;
      line-height: 50px; }
      header .title .more i {
        font-size: 0.8rem; }
    header .title img {
      height: 50px;
      width: 50px; }
    header .title .scroll-arrow i {
      color: #FFF;
      font-size: 2rem;
      animation: arrow-move 1.5s infinite ease-out; }
    header .title .scroll span {
      color: #9f9f9f; }
  header .info {
    transform: rotate(90deg);
    letter-spacing: 2px;
    font-size: 0; }

main {
  width: 100%;
  height: 280vh;
  background-color: #FFF;
  color: #000;
  display: grid;
  grid-template-rows: 1fr 0.2fr 1fr 0.2fr 1fr; }
  main .product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    margin: 5% 0; }
    main .product h2 {
      font-size: 1.5rem;
      margin-bottom: 5%;
      letter-spacing: 3px;
      text-transform: uppercase; }
    main .product h3 {
      font-size: 1.2rem;
      margin-bottom: 5%;
      letter-spacing: 2px; }
    main .product .product-text .more--small {
      width: 250px;
      height: 50px;
      font-weight: 400;
      font-size: 1rem;
      font-weight: 700;
      margin-top: 5%; }
    main .product .product-text i {
      font-size: 0.8rem; }
    main .product .picture img {
      width: 100%; }
    main .product .break {
      width: 100%;
      height: 100%;
      border-left: 3px solid #a9946e; }
    main .product:last-child h2 {
      text-align: center; }
    main .product:nth-child(4) .break {
      border-left: none;
      border-right: 3px solid #a9946e; }

@keyframes arrow-move {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(15px); } }
@media (min-width: 400px) {
  * {
    font-size: 25px; } }

/*# sourceMappingURL=style.css.map */
