* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Roboto', sans-serif; }

body {
  height: 100%;
  background-image: url(../photos/left.png);
  background-position: center;
  background-size: cover; }

nav {
  width: 100%;
  height: 20vh;
  display: grid;
  grid-template-columns: 15% 1fr 64px 64px;
  align-items: center;
  text-align: center;
  color: #9f9f9f; }
  nav .burger-menu i {
    font-size: 2rem; }
  nav .logo span {
    letter-spacing: 3px;
    color: #FFF;
    font-size: 0rem;
    text-transform: uppercase;
    font-weight: 700; }
  nav .info {
    display: flex;
    justify-content: center; }
    nav .info .info-sign {
      width: 25px;
      height: 25px;
      border: 1px solid #9f9f9f;
      border-radius: 25px;
      font-weight: 700;
      line-height: 25px; }
  nav .language span {
    font-weight: 700; }
  nav .language i {
    font-size: 20px; }

header {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  text-align: center;
  color: #bea67c;
  font-weight: 700; }
  header .slider {
    letter-spacing: 3px; }
    header .slider .slider_number {
      font-size: 0; }
    header .slider .slider_dots i {
      font-size: 0; }
  header .title {
    height: 100%;
    text-align: center;
    align-self: flex-start;
    position: relative;
    display: grid;
    grid-template-rows: 30% 70px 1fr;
    justify-content: center;
    align-items: flex-end; }
    header .title h1 {
      letter-spacing: 10px;
      font-size: 2.5rem;
      text-transform: uppercase; }
    header .title .more {
      width: 250px;
      height: 50px;
      border: 2px solid #FFF;
      color: #FFF;
      font-weight: 400;
      font-size: 18px;
      line-height: 50px; }
      header .title .more i {
        font-size: 15px; }
    header .title .scroll {
      align-self: center; }
      header .title .scroll img {
        height: 50px;
        width: 50px; }
      header .title .scroll .scroll_arrow i {
        color: #FFF;
        font-size: 2rem;
        animation: arrow-move 1.5s infinite ease-out; }
      header .title .scroll .scroll_text {
        transform: rotate(90deg);
        margin-top: 40px; }
      header .title .scroll .scroll_text span {
        color: #9f9f9f; }
  header .info {
    transform: rotate(90deg);
    letter-spacing: 2px;
    font-size: 0; }

main {
  width: 100%;
  height: auto;
  background-color: #FFF;
  color: #000;
  display: grid;
  grid-template-rows: auto 4rem auto 4rem auto; }
  main .product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    margin: 20px 0; }
    main .product h2 {
      font-size: 1.5rem;
      margin-bottom: 20px;
      letter-spacing: 3px;
      text-transform: uppercase; }
    main .product h3 {
      font-size: 1.2rem;
      margin-bottom: 20px;
      letter-spacing: 2px; }
    main .product .product-text i {
      font-size: 0.8rem; }
    main .product .videos {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      justify-items: center; }
      main .product .videos .small-video {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 1px solid #9f9f9f;
        position: relative;
        margin-bottom: 20px; }
        main .product .videos .small-video img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          width: 180px;
          height: 180px; }
      main .product .videos .play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        background-color: #bea67c;
        width: 20%;
        height: 20%;
        border-radius: 50%; }
      main .product .videos i {
        font-size: 1.5rem;
        color: #FFF;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute; }
    main .product .picture img {
      width: 100%; }
    main .product .break {
      width: 100%;
      height: 4rem;
      border-left: 3px solid #a9946e; }
    main .product:last-child p {
      margin-bottom: 30px;
      text-align: center; }
    main .product:last-child h2 {
      font-size: 2.3rem;
      text-align: center;
      position: relative; }
    main .product:last-child h2:after {
      content: "";
      background: #bea67c;
      position: absolute;
      bottom: -10px;
      left: calc(50% - 20px);
      width: 40px;
      height: 4px; }
    main .product:nth-child(4) .break {
      border-left: none;
      border-right: 3px solid #a9946e; }

.big-video {
  height: auto;
  width: 80%;
  background-image: url(../photos/logs.png);
  color: #FFF;
  padding: 10%;
  overflow: hidden; }
  .big-video .video_info {
    height: 80%;
    width: 100%;
    border: 2px solid #bea67c; }
    .big-video .video_info .video_text {
      margin: 20px; }
      .big-video .video_info .video_text h2 {
        text-transform: uppercase;
        font-size: 2rem;
        color: #bea67c; }
      .big-video .video_info .video_text p {
        margin-top: 20px;
        font-size: 15px;
        font-weight: 400; }
    .big-video .video_info .video_button {
      width: 250px;
      height: 50px;
      border: 2px solid #FFF;
      color: #FFF;
      font-weight: 400;
      font-size: 18px;
      line-height: 50px;
      width: 60%;
      max-width: 250px;
      margin: auto;
      margin-top: 40px;
      margin-bottom: 5%;
      text-align: center; }
      .big-video .video_info .video_button i {
        font-size: 15px; }

.about {
  height: auto;
  width: 100%;
  background-color: #FFF;
  color: #000;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  padding: 5% 0; }
  .about .about_info {
    margin: auto;
    width: 80%; }
    .about .about_info h2 {
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 3px; }
    .about .about_info p {
      margin-top: 30px;
      font-size: 15px; }
  .about .about_picture {
    text-align: center; }
    .about .about_picture img {
      width: 80%; }

footer {
  height: auto;
  width: 100%;
  background-image: url(../photos/footer.png);
  color: #2c2c2c;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center; }
  footer .footer-info span {
    color: #7d7d7d;
    font-weight: 700; }
  footer .footer-info:first-child {
    order: 2; }
  footer .footer-info:nth-child(2) {
    letter-spacing: 3px;
    color: #FFF;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    grid-column-start: 1;
    grid-column-end: 3;
    order: 1; }
  footer .footer-info:last-child {
    grid-column-end: 3;
    order: 3; }

.more--small {
  width: 250px;
  height: 50px;
  font-weight: 400;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 30px; }

.more--small::after {
  content: "";
  display: block;
  margin: 0 auto 0 0;
  width: 15%;
  padding-top: 5px;
  border-bottom: 2px solid #bea67c; }

@keyframes arrow-move {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(15px); } }
@media screen and (max-width: 290px) {
  * {
    font-size: 12px; } }
@media screen and (max-height: 500px) {
  .scroll_text {
    display: none; }

  .scroll_mouse {
    display: none; } }
@media screen and (max-width: 400px) {
  .scroll_text {
    display: none; }

  .scroll_mouse {
    display: none; } }
@media screen and (min-width: 768px) {
  nav .logo span {
    letter-spacing: 3px;
    color: #FFF;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700; }

  header .title div h1 {
    font-size: 5rem; }

  .big-video .video_info {
    position: relative; }
    .big-video .video_info .video_text {
      filter: blur(0.000001px);
      margin-left: 20%;
      position: relative; }
      .big-video .video_info .video_text h2 {
        width: 80%;
        display: block;
        position: relative; }
        .big-video .video_info .video_text h2:before {
          filter: blur(0.000001px);
          content: "";
          background: #FFF;
          position: absolute;
          top: 20px;
          left: -90px;
          width: 70px;
          height: 1px; }
      .big-video .video_info .video_text p {
        width: 60%;
        position: relative; }
        .big-video .video_info .video_text p:before {
          filter: blur(0.000001px);
          content: "";
          background: #bea67c;
          position: absolute;
          top: 10px;
          left: -50px;
          width: 30px;
          height: 4px; }
      .big-video .video_info .video_text:after {
        filter: blur(0.000001px);
        content: "";
        background: #FFF;
        position: absolute;
        top: 50%;
        right: 0;
        height: 100px;
        width: 1px; }
    .big-video .video_info .video_button {
      margin-left: 20%; } }
@media screen and (min-width: 992px) {
  header {
    grid-template-columns: 20% 60% 20%; }
    header .slider {
      position: relative;
      font-size: 3rem;
      display: inline; }
      header .slider .slider_number {
        font-size: 3rem;
        transform: rotate(90deg);
        margin-bottom: 50px; }
      header .slider .slider_number:before {
        content: "";
        background: #bea67c;
        position: absolute;
        top: 30px;
        left: -30px;
        width: 60px;
        height: 5px; }
      header .slider .slider_dots i {
        display: block;
        margin-bottom: 30px;
        font-size: 0.5rem;
        color: #3d3d3d; }
      header .slider .slider_dots i:first-child {
        color: #bea67c; }

  main .product {
    flex-wrap: nowrap;
    margin-top: 5%; }
    main .product .product-text {
      text-align: left;
      margin-right: 30px;
      margin-top: 5%;
      width: 65%; }
      main .product .product-text h2 {
        margin-right: 0;
        margin-left: auto;
        text-align: left;
        width: 60%; }
      main .product .product-text p {
        margin-right: 0;
        margin-left: auto;
        text-align: left;
        width: 60%;
        font-size: 0.7rem; }
      main .product .product-text .more--small {
        margin-left: auto;
        margin-right: 5%;
        width: 55%; }
    main .product .picture {
      margin-right: 10%; }
    main .product:nth-child(3) {
      display: flex; }
      main .product:nth-child(3) .product-text {
        order: 1;
        text-align: right;
        margin-top: 5%; }
        main .product:nth-child(3) .product-text h2 {
          margin-left: 0;
          text-align: right;
          width: 60%; }
        main .product:nth-child(3) .product-text p {
          margin-left: 0;
          text-align: right;
          width: 60%;
          font-size: 0.7rem; }
        main .product:nth-child(3) .product-text .more--small {
          text-align: right;
          margin-right: 0;
          width: 55%;
          position: relative; }
        main .product:nth-child(3) .product-text .more--small::after {
          content: "";
          background: #bea67c;
          position: absolute;
          top: 30px;
          left: 80px;
          width: 40px;
          height: 0.5px; }
      main .product:nth-child(3) .picture {
        order: -1; }
    main .product:last-child .videos {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 100px; }
    main .product:last-child .product-text {
      margin-top: 0; }
      main .product:last-child .product-text h2 {
        text-align: center;
        margin: auto;
        margin-bottom: 30px; }
      main .product:last-child .product-text p {
        text-align: center;
        margin: auto;
        margin-bottom: 20px; }

  .big-video {
    max-height: 100vh; }
    .big-video .video_info {
      padding-top: 15%;
      padding-bottom: 15%; }

  .about {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; }
    .about .about_info {
      order: 2;
      margin-left: 70px;
      width: 50%;
      position: relative; }
    .about .about_picture {
      order: 1;
      text-align: right;
      position: relative; }
    .about .about_info:after {
      content: "";
      background: #bea67c;
      position: absolute;
      top: 45%;
      left: -60px;
      height: 5px;
      width: 40px; }
    .about .about_picture:after {
      content: "";
      background: #000;
      position: absolute;
      top: 30%;
      right: -50px;
      height: 1px;
      width: 100px; } }

/*# sourceMappingURL=style.css.map */
