@import 'variables.scss';
@import 'mixing.scss';

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    position: relative;

    .background {
        background-image: url(../photos/left.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        left: 0;
        top: 0;
        z-index: 1;
        position: relative;
    }
    
    .left-background:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: calc(50% + 1px);
        height: calc(100% + 40px);
        background-image: url(../photos/right.png);
        z-index: 0;
        border: 0;
    }
}

nav {
    width: 100%;
    height: 20vh;
    display: grid;
    grid-template-columns: 30% 1fr 0 64px 64px;
    align-items: center;
    text-align: center;
    color: $grey-color;
    position: relative;
    z-index: 2;

    .burger-menu {
        & i {
            font-size: 2rem;
        }    
    }

    .logo span{
        @include logo(0rem);
    }

    .menu {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        
        li {
            float: left;
        }
        
        li a {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1rem;
            display: block;
            color: $grey-color;
            text-align: center;
            padding: 16px;
            padding-left: 70px;
            text-decoration: none;
        }
        
        li a:hover {
            color: $dark-grey-color;
        }
    }

    .info {
        display: flex;
        justify-content: center;

        .info-sign {
            width: 25px;
            height: 25px;
            border: 1px solid $grey-color;
            border-radius: 25px;
            font-weight: 700;
            line-height: 25px;
        }
    }

    .language {

        & span {
            font-weight: 700;
        }

        & i{
            font-size: 20px;
        }
    }
}

header {
    width: 100%;
    height: 80vh;

    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-items: center;
    text-align: center;

    color: $gold-color;
    font-weight: 700;

    .slider {
        letter-spacing: 3px;
        
        .slider_number{
            font-size: 0;
        }

        .slider_dots i {
            font-size: 0;
        }
    }

    .title{
        height: 100%;
        text-align: center;
        align-self: flex-start;
        position: relative;

        display: grid;
        grid-template-rows: 30% 70px 1fr;
        justify-content: center;
        align-items: flex-end;

        h1 {
            letter-spacing: 10px;
            font-size: 2.5rem;
            text-transform: uppercase;
        }

        .more {
            @include more-button();
        }

        .scroll { 
            align-self: center;
            
            img {
                height: 50px;
                width: 50px;
            }
    
            .scroll_arrow {

                & i{
                    color: #FFF;
                    font-size: 2rem;
                    animation: arrow-move 1.5s infinite ease-out;
                }
            }

            .scroll_text {
                transform: rotate(90deg);
                margin-top: 40px;
            }

            .scroll_text span {
                color: $grey-color;
            }
        }     
    }

    .header_info {
        color: $dark-gold-color;
        font-size: 0rem;
        transform: rotate(90.0deg);
        letter-spacing: 2px;
        text-align: center;
        opacity: 0.2;
        margin-right: 10%;
    }

    .info {
        transform: rotate(90.0deg);
        letter-spacing: 2px;
        font-size: 0;
    }
}

main {
    width: 100%;
    height: auto;
    background-color: #FFF;
    color: #000;

    display: grid;
    grid-template-rows: auto 4rem auto 4rem auto;

    .product {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 10%;
        margin: 20px 0;
        position: relative;

        h2{
            font-size: 1.5rem;
            margin-bottom: 20px;
            letter-spacing: 3px;
            text-transform: uppercase;
        }

        h3 {
            font-size: 1.2rem;
            margin-bottom: 20px;
            letter-spacing: 2px;
        }

        .product-text {
            & i {
                font-size: 0.8rem;
            }
        }

        .videos {

            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            justify-items: center;

            .small-video{
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border: 1px solid $grey-color;
                position: relative;
                margin-bottom: 20px;

                & img {
                    @include center();
                    width: 180px;
                    height: 180px;
                }
            }

            .play {
                @include center();
                background-color: $gold-color;
                width: 20%;
                height: 20%;
                border-radius: 50%;
            }

            & i {
                font-size: 1.5rem;
                color: #FFF;

                @include center();
            }
        }

        .picture img {
            width: 100%;
        }

        .break{
            width: 90%;
            height: 3.5rem;
            border-left: 3px solid $dark-gold-color;
            margin-left: auto;
            margin-right: auto;
        } 

        &:first-child {
            .product-text {
                span {
                    position: absolute;
                    font-size: 0rem;
                    font-weight: 700;
                    opacity: 0.05;
                }
            }

            .picture {
                span {
                    position: absolute;
                    font-size: 0rem;
                    font-weight: 700;
                } 
            }
        }

        &:nth-child(3) {
            position: relative;

            .product-text {
                span {
                    position: absolute;
                    font-size: 0rem;
                    font-weight: 700;
                } 
            }

            .picture {
                span {
                    position: absolute;
                    font-size: 0rem;
                    font-weight: 700;
                } 
            }
        }
        
        &:nth-child(4) {
            .break {
                border-left: none;
                border-right: 3px solid $dark-gold-color;
            }
        }   

        &:last-child {
            p{
                margin-bottom: 30px;
                text-align: center;
            }

            h2 {
                font-size: 2.3rem;
                text-align: center;
                position: relative;
            }

            h2:after {
                content:""; 
                background: $gold-color; 
                position: absolute; 
                bottom: -10px;
                left: calc(50% - 20px); 
                width: 40px; 
                height: 4px;
            }
        }           
    }
}

.big-video {
    height: auto;
    width: 80%;
    background-image: url(../photos/logs.png);
    background: cover;
    color: #FFF;
    padding: 10%;
    overflow: hidden;

    .video_info {
        height: 80%;
        width: 100%;
        border: 1px solid #FFF;

        .video_text{
            margin: 20px;

            & h2 {
                text-transform: uppercase;
                font-size: 2rem;
                color: $gold-color; 
            }
        
            & p {
                margin-top: 20px;
                font-size: 15px;
                font-weight: 400;
            }
        } 

        .video_button {
            @include more-button();
            width: 60%;
            max-width: 250px;
            margin: auto;
            margin-top: 40px;
            margin-bottom: 5%;
            text-align: center;
        }
    }   

    & i {
        font-size: 0rem;
    }
}

.about {
    height: auto;
    width: 100%;
    background-color: #FFF;
    color: #000;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 5% 0;

    .about_info {
        margin: auto;
        width: 80%;

        & h2 {
            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        & p {
            margin-top: 30px;
            font-size: 15px;
        }
    }

    .about_picture {
        text-align: center;

        & img{
            width: 80%;
        }
    }

    .shadow_about {
        position: relative;
        font-size: 0;
    }
}

footer {
    height: auto;
    width: 100%;
    background-image: url(../photos/footer.png);
    color: #2c2c2c;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;

    .footer-info span {
        color: #7d7d7d;
        font-weight: 700;
    }

    .footer-info:first-child {
        order: 2;
    }

    .footer-info:nth-child(2) {
        @include logo(2.5rem);
        grid-column-start: 1;
        grid-column-end: 3;
        order: 1;
    }

    .footer-info:nth-child(2):after{
        @include logo-strike();
    }

    .footer-info:last-child {
        grid-column-end: 3;
        order: 3;
    }
}

.more--small {
    text-align: left; 
    width: 55%;
    position: relative;
    font-weight: 700;

    margin: 20px auto 30px 0;
} 

.more--small::after {
    content:""; 
    background: $gold-color; 
    position: absolute; 
    top: 30px; 
    left: 0; 
    width: 40px; 
    height: 3px;
}

@keyframes arrow-move {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(15px);
    }
}

@media screen and (orientation: landscape) {
    
}

@media screen and (max-width: 290px){
    * {
        font-size: 12px;
    }
}

@media screen and (max-height: 500px) {
    .scroll_text {
        display: none;
    }

    .scroll_mouse {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .scroll_text {
        display: none;
    }

    .scroll_mouse {
        display: none;
    }
}

@media screen and  (min-width: 400px) { }

@media screen and  (min-width: 576px) {}

@media screen and  (min-width: 768px) and (min-height: 600px) { 
    nav .logo span{
        @include logo(3rem);
    }

    nav .logo span:after{
        @include logo-strike();
    }
}

@media screen and  (min-width: 768px) { 

    header .title div h1 {
        font-size: 5rem;
    }

    .big-video{
        position: relative;
        .video_info {
            position: relative;

            .video_text {
                filter: blur(0.000001px);
                
                margin-left: 20%;
                position: relative;
                h2{
                    width: 80%;
                    display: block;
                    position: relative;

                    &:before {
                        filter: blur(0.000001px);
                        content:""; 
                        background: #FFF; 
                        position: absolute; 
                        top: 20px; 
                        left: -110px; 
                        width: 90px; 
                        height: 1px;
                    }
                }
        
                p {
                    width: 60%;
                    position: relative;

                    &:before {
                        filter: blur(0.000001px);
                        content:""; 
                        background: $gold-color; 
                        position: absolute; 
                        top: 10px; 
                        left: -50px; 
                        width: 30px; 
                        height: 4px;
                    }
                }

                &:after {
                    filter: blur(0.000001px);
                    content:""; 
                    background: #FFF; 
                    position: absolute; 
                    top: 50%; 
                    right: 0; 
                    height: 100px; 
                    width: 1px;
                }
            }    
      
            .video_button {
                margin-left: 20%;
            }
        }   
        
        & i {
            position: absolute;
            top: -5%;
            right: 0;
            font-size: 45rem;
            opacity: 0.05;
        }
    } 
}

@media screen and (min-width: 992px) and (min-height: 600px) {
    header {
        grid-template-columns: 20% 60% 20%;

        .title div h1{
            font-size: 6rem;
            letter-spacing: 20px;
        }

        .slider {
            position: relative;
            font-size: 3rem;
            display: inline;
            top: 5%;

            .slider_number {
                font-size: 3rem;
                transform: rotate(90deg);
                margin-bottom: 50px;
            }

            .slider_number:before {
                content:""; 
                background: $dark-gold-color; 
                position: absolute; 
                top: 30px; 
                left: 0;
                width: 60px; 
                height: 5px;
            }

            .slider_dots i {
                display: block;
                margin-bottom: 30px;
                font-size: 0.5rem;
                color: #3d3d3d;
            }

            .slider_dots i:first-child {
                color: $gold-color;
            }
        }

        .header_info {
            position: relative;
            top: -15%;
            left: -5%;
            font-size: 1rem;
        }
    }  
}

@media screen and (min-width: 992px) {

    body {
        .background {
            background-image: url(../photos/left.png);
            background-size: 55% 100%;
            background-repeat: no-repeat;
            left: 0;
            top: 0;
            z-index: 22;
            position: relative;
        }
        
        .background:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: calc(45% + 5px);
            height: calc(100% + 50px);
            background-image: url(../photos/right.png);
            z-index: 0;
            border: 0;
        }

        .background:after {
            content: "";
            position: absolute;
            bottom: -75px;
            right: 15%;
            width: 4px;
            height: 50px;
            background-color: $gold-color;
            z-index: 0;
            border: 0;
        }
    }

    nav {
        grid-template-columns: 10% 1fr 0 100px 100px;
    }
    
    main {
        .product {
            flex-wrap: nowrap;
            margin-top: 5%;
            
            .product-text {
                position: relative;
                text-align: left;  
                margin-right: 30px;
                margin-left: 5%;
                margin-top: 5%;
                margin: 5% 30px auto 5%;
                width: 65%;

                h2 {
                    margin-right: 0;
                    margin-left: auto;
                    text-align: left;  
                    width: 60%;
                }

                p {
                    margin-right: 0;
                    margin-left: auto;
                    text-align: left;  
                    width: 60%;
                    font-size: 0.7rem;
                }

                .more--small {
                    margin-top: 20px;
                    margin-left: auto;
                    margin-right: 5%;
                    width: 55%;
                }
            } 

            &:first-child {
                .product-text {
                    h2:after {
                        content:""; 
                        background: #000; 
                        position: absolute; 
                        top: 15px; 
                        left: 0; 
                        height: 1px; 
                        width: 35%;
                    } 

                    p:after {
                        content:""; 
                        background: $dark-gold-color; 
                        position: absolute; 
                        top: 60px; 
                        left: 25%; 
                        height: 3px; 
                        width: 10%;
                    } 

                    span {  
                        font-size: 18rem;    
                        top: -350px;
                        left: 0;
                    }
                }

                .picture {
                    span {  
                        font-size: 8rem;    
                        top: 30%;
                        right: -250px;
                        opacity: 0.05;
                    }
                }
            }

            .picture {
                margin-right: 10%;
            }

            &:nth-child(3){
                display: flex;
                position: relative;

                .product-text {
                    order: 1;
                    text-align: right;  
                    margin-top: 5%;
                    margin-left: 0;  
                    padding-left: 0;  

                    h2 {
                        margin-left: 0;
                        text-align: right; 
                        width: 60%;
                    }
    
                    p {
                        margin-left: 0;
                        text-align: right; 
                        width: 60%;
                        font-size: 0.7rem;
                    }

                    h2:after {
                        content:""; 
                        background: #000; 
                        position: absolute; 
                        top: 15px; 
                        right: 5%; 
                        height: 1px; 
                        width: 30%;
                    } 
        
                    p:after {
                        content:""; 
                        background: $dark-gold-color; 
                        position: absolute; 
                        top: 60px; 
                        right: 25%; 
                        height: 3px; 
                        width: 10%;
                    } 
                    
                    h3{
                        margin-right: 5%;
                    }
    
                    .more--small {
                        width: 55%;
                    } 

                    span {
                        font-size: 14rem;
                        font-weight: 700;
                        top: -260px;
                        right: 0;
                        opacity: 0.05;
                    } 
                    
                }

                .picture {
                    order: -1;
                    margin-left: 5%;
                    margin-right: 1%;

                    span {
                        font-size: 8rem;
                        font-weight: 700;
                        top: 100px;
                        left:-60px;
                        opacity: 0.05;
                    } 
                }
            }
            
            &:last-child {
                .videos{
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-gap: 100px;
                }

                .product-text {
                    margin-top: 0;

                    h2 {
                        text-align: center;
                        margin: auto;
                        margin-bottom: 30px;
                    }

                    p {
                        text-align: center;
                        margin: auto;
                        margin-bottom: 20px;
                    }
                }
            }
                
        }
    }

    .big-video {
        max-height: 100vh;
        padding: 5% 10%;
        .video_info { 
            .video_text {
                h2 {
                    margin-top: 15%;
                }

                p {
                    width: 35%;
                }
            }

            .video_button {
                margin-bottom: 10%;
            }
        }

    }

    .about {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        .about_info {
            order: 2;
            margin-left:70px;
            width: 50%;
            position: relative;

            &:after {
                content:""; 
                background: $dark-gold-color; 
                position: absolute; 
                top: 45%; 
                left: -60px; 
                height: 5px; 
                width: 40px;
            }

            .shadow_a {
                position: absolute;
                font-size: 20rem;
                text-transform: uppercase;
                font-weight: 700;
                top: -300%;
                right: 0;
                opacity: 0.05;
            }
        }

        .about_picture {
            order: 1;
            text-align: right;
            position: relative;

            &:after {
                content:""; 
                background: #000; 
                position: absolute; 
                top: 30%; 
                right: -50px; 
                height: 1px; 
                width: 100px;
            }

            .shadow_about {
                position: absolute;
                font-size: 10rem;
                text-transform: uppercase;
                font-weight: 700;
                top: 25%;
                left:-5%;
                opacity: 0.05;
            }
        }


    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;

        .footer-info:first-child {
            order: 1;
        }
    
        .footer-info:nth-child(2) {
            grid-column-start: 2;
            grid-column-end: 3;
            order: 2;
        }
    
        .footer-info:last-child {
            grid-column-start: 3;
            order: 3;
        }
    }
}

@media screen and (min-width: 1300px) {
    main {
        .product {
            margin-left: 5%;
            margin-right: 5%;
        }
    }
}

@media screen and (min-width: 1300px) and (min-height: 600px) {
    nav {
        grid-template-columns: 10% 1fr 1fr 100px 100px;

        .logo {
            justify-self: end;
        }

        .menu {
            justify-self: start;
        }
    }
    
    header .title .scroll {
        justify-self: start;
    }
}