<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <title>Jakub Stanisławczyk</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">

        <link rel="stylesheet" href="../CSS/main.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" />
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,700&amp;subset=latin-ext" rel="stylesheet" />
    </head>

    <body>
        <header>
            <nav>
                <i class="fas fa-bars"></i>
            </nav>

            <hgroup>
                <h1>Jakub Stanisławczyk</h1>
                <h3><span>Standardowa wizytówka </span>Jakich wiele w necie</h3>
            </hgroup>  

            <div id="arrow">
                <i class="fas fa-long-arrow-alt-down"></i>
            </div>
        </header>
        <main>
            <section class="technologies">
                <div>
                    <h1>Znane technologie</h1>
                </div>
                <div class="label">
                    <p>Spring Boot</p>
                    <img src="../Pictures/spring-boot.png" />
                </div>
                <div class="label">
                    <p>Java</p>
                    <img src="../Pictures/java.png" />
                </div>
                <div class="label">
                    <p>React (kiedyś)</p>
                    <img src="../Pictures/icon-react.svg" />
                </div>
            </section>

            <section class="projects">
                <div>
                    <h1>Projekty</h1>
                </div>
                <div class="label"> 
                    <p>JavaDevOrganizer</p>
                    <a href="https://github.com/xenonso/JavaDevOrganizer"><img src="../Pictures/github.svg" /></a>
                </div>
                <div class="label"> 
                    <p>ITForum</p>
                    <a href="https://github.com/xenonso/ITForum"><img src="../Pictures/github.svg" /></a>
                </div>
                <div class="label"> 
                    <p>RecruitmentHelper</p>
                    <a href="https://github.com/xenonso/RecruitmentHelper"><img src="../Pictures/github.svg" /></a>
                </div>
            </section>

            <section class="about">
                <div>
                    <h1>O mnie</h1> 
                </div>
                <div>
                    <img src="../Pictures/me.JPG" />
                </div> 
                <div>
                    <span>Mam na imię Jakub. Głównie uczę się Javy, ale teraz próbuję się w froncie.
                            Lubię jeździć na nartach i grać w CS GO. Wydłużam ten tekst by zobaczyć jak zachowuje się strona.</span>
                </div>
                <div>
                    <h1>Social</h1> 
                </div>
                <div class="label"> 
                    <p>Github</p>
                    <a href="https://github.com/xenonso"><img src="../Pictures/github.svg" /></a>
                </div>
            </section>

            <section class="contact">
                <div>
                    <h1>Kontakt</h1> 
                </div>
                <div>
                    <form action="http://www.sampletest.pl/users" method="POST">
                        <p>Email</p>
                        <input type="text" name="email" placeholder="sample@mail.com"/>
                        <p>Message</p>
                        <textarea rows="5"></textarea> 
                        <br />
                        <input type="submit" value="send" />      
                    </form> 
                </div>
            </section>
        </main>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../Scripts/scroll.js"></script>
    </body>
</html>