<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <title>Jakub Stanisławczyk</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">

        <link rel="stylesheet" href="../CSS/main.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" />
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,700&amp;subset=latin-ext" rel="stylesheet" />
    </head>

    <body>
        <header>
            <nav>
                <i class="fas fa-bars"></i>
            </nav>

            <hgroup>
                <h1>Jakub Stanisławczyk</h1>
                <h3><span>Standardowa wizytówka </span>Jakich wiele w necie</h3>
            </hgroup>  

            <div id="arrow">
                <i class="fas fa-long-arrow-alt-down"></i>
            </div>
        </header>
        <main>
            <section>
                <h1>Znane technologie</h1>
                <div>
                    <p>Spring Boot</p>
                    <img src="../Pictures/spring-boot.png" />
                </div>
                <div>
                    <p>Java</p>
                    <img src="../Pictures/java.png" />
                </div>
            </section>
        </main>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../Scripts/scroll.js"></script>
    </body>
</html>